/*

  WordPres default, this is can be overriden, just think of these as a reset file
  + Tim Green

*/

/**
  * CSS Reset
*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

// Dutch specific resets
html{
    box-sizing:border-box;
    line-height:1.25;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent
}
*,*:before,*:after{
    box-sizing:inherit
}
body{
    margin:0
}
h1{
    font-size:2em;
    margin:.67em 0
}
hr{
    box-sizing:content-box;
    height:0
}
pre,code{
    font-family:monospace,monospace;
    font-size:.937em
}
pre{
    tab-size:4;
    overflow:auto
}
strong,b{
    font-weight:700
}
blockquote,q{
    font-style:italic
}
ol,ul{
    list-style:none;
    padding:0;
    margin:0
}
sub,sup{
    font-size:.75em;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
table{
    border-collapse:collapse;
    border-spacing:0
}
th,td{
    border:1px solid;
    padding:.25em
}
button,input,optgroup,select,textarea{
    font-family:inherit;
    font-size:1em;
    line-height:inherit;
    margin:0
}
button,input,textarea{
    background-color:inherit;
    color:inherit;
    border:1px solid;
    border-radius:0;
    outline:0;
    padding:.25em;
    max-width:100%;
    -webkit-appearance:none;
    -moz-appearance:none
}
button,select{
    text-transform:none
}
::-webkit-search-decoration,::-webkit-search-cancel-button{
    -webkit-appearance:none
}
progress{
    vertical-align:baseline
}
summary{
    display:list-item
}
blockquote,figure{
    margin-left:0;
    margin-right:0
}
details,audio,img,video{
    display:block
}
img,video{
    height:auto;
    max-width:100%
}
embed,iframe,object{
    max-width:100%
}
.alignleft{
    float:left;
    margin:0 1em 1em 0
}
.alignright{
    float:right;
    margin:0 0 1em 1em
}
.aligncenter{
    clear:both;
    display:block;
    margin-left:auto;
    margin-right:auto
}
.clear{
    clear:both
}
.screen-reader-text{
    border:0;
    clip:rect(1px,1px,1px,1px);
    -webkit-clip-path:inset(50%);
    clip-path:inset(50%);
    height:1px;
    margin:-1px!important;
    overflow:hidden;
    padding:0;
    position:absolute!important;
    width:1px!important;
    word-wrap:normal!important
}
.bypostauthor{ } .gallery-caption{ } .sticky{ } .wp-caption-text{ } .wp-caption{ }
